@import "variables";
body {
  background: var(--secondary-color);
  transition: ease 200ms;
  margin: 0;
}

rect {
  cursor: pointer;
  shape-rendering: crispEdges;
  fill: url(#MyGradient);
}

p {
  font-weight: 400;
}

.main {
  margin-top: 5rem;
}

.main__title {
  margin-left: 2rem;
}

.faded-text {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 36pt;
}

h3 {
  font-size: 32pt;
}

h4 {
  font-size: 24pt;
}

h5 {
  font-size: 20pt;
}

h6 {
  font-size: 15pt;
}
