.footer__nav {
    position: fixed;
    bottom: -1px;
    background: var(--secondary-color);
    box-shadow: 0px -5px 25px 0px rgba(0,0,0,0.5);
    width: 100vw;
  .nav__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    margin: 0;
    .ul__li {
        list-style: none;
      .li__a {
        .a__small {
          height: 30px;
        }
        .a__big {
          height: 50px;
        }
      }
    }
  }
}

