.footer__nav {
    position: fixed;
    bottom: -1px;
    background: var(--secondary-color);
    box-shadow: 0px -5px 25px 0px rgba(0,0,0,0.5);
    width: 100vw;
  .nav__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.5625rem;
    margin: 0;
    .ul__li {
        list-style: none;
      .li__a {
        .a__small {
          height: 1.875rem;
          fill: var(--gradient-color);
        }
        .a__big {
          height: 3.125rem;
        }
      }
      .wifi {
        position: relative;
        .wifi-layer {
          position: absolute;
          bottom: 0;
          min-width: 50px;
          width: 3.125rem;
        }
      }
    }
  }
}

.a__big-background {
  fill: #fff;
}