@import "variables";

.nav__contaner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site__title {
  margin: 20px 0;
  color: var(--text-color);
  font-weight: $fontLight;
  text-transform: uppercase;
}

.icon__back {
  width: 8.58px;
  height: 15px;
  position: absolute;
  left: 2rem;
  fill: var(--text-color);
}

.icon__search {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 2rem;
  fill: var(--text-color);
}

