html {
  --primary-color: #ff1168;
  --secondary-color: #341931;
  --additional-color: #111625;
  --gradient-color: linear-gradient(to right, #ee0979, #ff3160, #ff5446, #ff762b, #ff9600);
  --text-color: white;
  --activate-link-color: white;
  --footer-background: white;
  --footer-logo: url(#linear-gradient);
  
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

html[data-theme="light"] {
  --primary-color: #ff1168 !important;
  --secondary-color: white !important;
  --text-color: black !important;
  --activate-link-color: black !important;
  --footer-background: url(#linear-gradient) !important;
  --footer-logo: white !important;
}
