.viewAll__contaner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.contaner__title {
  color: var(--text-color);
  font-weight: bold;
}

.contaner__viewAll {
  color: var(--primary-color);
  text-decoration: none;
}

.releases__contaner {
  margin: 2rem;
}

.contaner__row {
  display: flex;
  //   justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  margin: 2rem 0;
}

.row__img {
  object-fit: cover;
  border-radius: 10px;
  margin: 0 2rem 0 0;
  width: 50px;
  height: 50px;
}

.row__text {
  width: 45rem;
}

.text__title {
  margin: 0;
  font-size: calc((48vw - 4.5rem) / 7);
}

.text__subtitle {
  margin: 0;
  font-size: 12;
}

.row__songs {
  width: 100%;
  font-size: 12;
  text-align: right;
}
