@import "variables";

.main_title {
  font-size: 36px;
  background: linear-gradient(
    90deg,
    rgba(238, 9, 121, 1),
    rgba(255, 106, 0, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1em;
}

.main_imgcontaner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}

.main_imgcontaner-height {
  position: relative;
  width: 20.3125em;
  height: 24em;
  max-width: 715px;
  max-height: 715px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 4em;
}

.imgcontaner_img {
  width: 20.3125em;
  height: 26.610625em;
  max-width: 715px;
  max-height: 715px;
}

.img_background {
  // height: 25em;
  top: -3em;
}

.img_overlay {
  position: absolute;
  bottom: -1px;
  left: 0;
}

.imgcontaner_title {
  position: absolute;
  font-size: 32px;
  color: #ffffff;
  margin: 0.3em;
  width: 355px;
  top: 7em;
}

.imgcontaner_text {
  position: absolute;
  font-size: 12px;
  color: #ffffff;
  margin: 1em;
  width: 314px;
  top: 27em;
}
