@import "variables";

.main__imgcontaner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem;
}

.imgcontaner__img {
  width: 400px;
  border-radius: 10px;
  margin-bottom: 4rem;
}
