@import "variables";

.nav_contaner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site_title {
  font-size: 30px;
  color: #ffffff;
  font-family: $poppins;
  font-weight: $fontLight;
}

.icon_back {
  width: 8.58px;
  height: 15px;
  position: absolute;
  left: 2em;
}

.icon_search {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 2em;
}

