<script src="/assets/javascript/fetch.js" defer></script>
<script src="/assets/javascript/changeTheme.js" defer></script>
<script src="/assets/javascript/footer-higlighter.js" defer></script>
</body>
</html>