<footer class="footer">
    <nav class="footer__nav">
        <ul class="nav__ul">
            <li class="ul__li"><a href="/album" class="li__a"><img src="/assets/images/pulse.svg" alt="Albums" class="a__small"></a></li>
            <li class="ul__li"><a href="/playlists" class="li__a"><img src="/assets/images/microphone.svg" alt="Featured1" class="a__small"></a></li>
            <li class="ul__li"><a href="/" class="li__a"><img src="/assets/images/wifi.svg" alt="Featured" class="a__big"></a></li>
            <li class="ul__li"><a href="" class="li__a changeTheme"><img src="/assets/images/contrast.svg" alt="Farve Tema" class="a__small"></a></li>
            <li class="ul__li"><a href="/categories" class="li__a"><img src="/assets/images/Path 343.svg" alt="Categories" class="a__small"></a></li>
        </ul>
    </nav>
</footer>