</head>
<body>
<div class="nav_contaner">
  <img
    src="/assets/images/ionicons_svg_ios-arrow-back.svg"
    alt="back"
    class="icon_back"
  />
  <h1 class="site_title">Featured</h1>
  <img
    src="/assets/images/ionicons_svg_ios-search.svg"
    alt="search"
    class="icon_search"
  />
</div>
