<% include ../partials/head %>
<% include ../partials/albimCSS %>
<% include ../partials/nav %>
<main class="main">
    <h4 class="main__title faded-text">All Albums</h4>
    <div class="viewAll__contaner">
        <p class="contaner__title">Featured Albums</p>
        <a href="" class="contaner__viewAll">View All</a>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(/assets/images/butterflyWomen.png);"></div>
            <div class="swiper-slide" style="background-image: url(/assets/images/women.png);"></div>
            <div class="swiper-slide" style="background-image: url(/assets/images/OldTownRoad.png);"></div>
            <div class="swiper-slide" style="background-image: url(/assets/images/butterflyWomen.png);"></div>
            <div class="swiper-slide" style="background-image: url(/assets/images/women.png);"></div>
            <div class="swiper-slide" style="background-image: url(/assets/images/OldTownRoad.png);"></div>
        </div>
    </div>
    <div class="viewAll__contaner">
        <p class="contaner__title">New Releases</p>
        <a href="" class="contaner__viewAll">View All</a>
    </div>

    <section class="releases__contaner">
        <div class="contaner__row">
            <img class="row__img" src="/assets/images/OldTownRoad.png" alt="Old Town Road">
            <div class="row__text">
                <h6 class="text__title">Old Town Road</h6>
                <p class="text__subtitle">Billy Ray Cyrus</p>
            </div>
            <p class="row__songs">12 Songs</p>
        </div>
        <div class="contaner__row">
            <img class="row__img" src="/assets/images/Victory-Lab.png" alt="Victory Lab">
            <div class="row__text">
                <h6 class="text__title">Victory Lab</h6>
                <p class="text__subtitle">Nipsey Hussle</p>
            </div>
            <p class="row__songs">8 Songs</p>
        </div>
        <div class="contaner__row">
            <img class="row__img" src="/assets/images/Thank-U-Next.png" alt="Thank U, Next">
            <div class="row__text">
                <h6 class="text__title">Thank U, Next</h6>
                <p class="text__subtitle">Ariana Grande</p>
            </div>
            <p class="row__songs">13 Songs</p>
        </div>
        <div class="contaner__row">
            <img class="row__img" src="/assets/images/Death-Race-For-Love.png" alt="Death Race For Love">
            <div class="row__text">
                <h6 class="text__title">Death Race For Love</h6>
                <p class="text__subtitle">Juice WRLD</p>
            </div>
            <p class="row__songs">11 Songs</p>
        </div>
    </section>



</main>
<% include ../partials/footer %>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script src="/assets/javascript/album-swiper.js"></script>
<% include ../partials/after-footer %>
