<% include ../partials/head %>
<% include ../partials/indexHead %>
<% include ../partials/nav %>
<main class="main">
  <h1 class="main_title">FEATURED</h1>
  <div class="main_imgcontaner">
      <div class="main_imgcontaner-height">
          <img
            src="/assets/images/pexels-photo-1816943.png"
            alt="photo1"
            class="imgcontaner_img img_background"
          />
          <img
            src="/assets/images/pexels-photo-41747.png"
            alt="photo1 overlay"
            class="imgcontaner_img img_overlay"
          />
          <h4 class="imgcontaner_title">The Greatest Showman</h4>
          <p class="imgcontaner_text">Soundtrack</p>
      </div>
      
      <div class="main_imgcontaner-height">
          <img
            src="/assets/images/pexels-photo-14354.png"
            alt="photo2"
            class="imgcontaner_img img_background"
          />
          <img
            src="/assets/images/pexels-photo-41747.png"
            alt="photo2 overlay"
            class="imgcontaner_img img_overlay"
          />
          <h4 class="imgcontaner_title">The Greatest Showman</h4>
          <p class="imgcontaner_text">Soundtrack</p>
      </div>
  </div>
</main>
<% include ../partials/footer %>
<% include ../partials/after-footer %>
