<% include ../partials/head %>
<link rel="stylesheet" href="/assets/css/album.css">
</head>
<body>
<% include ../partials/nav %>
<main class="main">
    <h4 class="main__title faded-text">All Albums</h4>
    <div class="viewAll__contaner">
        <p class="contaner__title">Featured Albums</p>
        <a href="" class="contaner__viewAll">View All</a>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
        </div>
    </div>
    <div class="viewAll__contaner">
        <p class="contaner__title">New Releases</p>
        <a href="" class="contaner__viewAll">View All</a>
    </div>

    <section class="album__contaner"></section>



</main>

<template id="template__album">
    <a class="contaner__row">
        <img class="row__img" src="" alt="Victory Lab">
        <div class="row__text">
            <h6 class="text__title"></h6>
            <p class="text__subtitle">Nipsey Hussle</p>
        </div>
        <p class="row__songs">8 Songs</p>
    </a>
</template>

<template id="slider__album">
    <div class="swiper-slide"></div>
</template>
<% include ../partials/footer %>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script src="/assets/javascript/albumFetch.js" defer></script>
<% include ../partials/after-footer %>
