<% include ../partials/head %> <% include ../partials/categoriesCSS %> <%
include ../partials/nav %>
<main class="main">
  <h4 class="main__title faded-text">Categories</h4>
  <div class="dropdown">
    <input id="check01" type="checkbox" name="menu" />
    <label class="dropdown__bottom" style="background: #d70060;" for="check01"
      ><p>Alternative</p>
      <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span></div
    ></label>
    <ul class="dropdown-items">
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Acoustic Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            /></svg
        ></a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Blues Rock</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Canadian Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Jazz Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Piano Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Soul Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Swamp Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <input id="check02" type="checkbox" name="menu" />
    <label class="dropdown__bottom" style="background: #E54028;" for="check02"
      ><p>Blues</p>
      <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span></div
    ></label>
    <ul class="dropdown-items">
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Acoustic Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            /></svg
        ></a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Blues Rock</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Canadian Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Jazz Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Piano Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Soul Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Swamp Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <input id="check03" type="checkbox" name="menu" />
    <label class="dropdown__bottom" style="background: #F18D05;" for="check03"
      ><p>Classical</p>
      <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span></div
    ></label>
    <ul class="dropdown-items">
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Acoustic Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            /></svg
        ></a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Blues Rock</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Canadian Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Jazz Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Piano Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Soul Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Swamp Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <input id="check04" type="checkbox" name="menu" />
    <label class="dropdown__bottom" style="background: #F2BC06;" for="check04"
      ><p>Country</p>
      <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span></div
    ></label>
    <ul class="dropdown-items">
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Acoustic Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            /></svg
        ></a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Blues Rock</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Canadian Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Jazz Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Piano Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Soul Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Swamp Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <input id="check05" type="checkbox" name="menu" />
    <label class="dropdown__bottom" style="background: #5EB11C;" for="check05"
      ><p>Dance</p>
      <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span></div
    ></label>
    <ul class="dropdown-items">
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Acoustic Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            /></svg
        ></a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Blues Rock</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Canadian Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Jazz Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Piano Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Soul Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Swamp Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <input id="check06" type="checkbox" name="menu" />
    <label class="dropdown__bottom" style="background: #3A7634;" for="check06"
      ><p>Electronic</p>
      <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span></div
    ></label>
    <ul class="dropdown-items">
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Acoustic Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            /></svg
        ></a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Blues Rock</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Canadian Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Jazz Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Piano Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Soul Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Swamp Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <input id="check07" type="checkbox" name="menu" />
    <label class="dropdown__bottom" style="background: #0ABEBE;" for="check07"
      ><p>Fitness & Workout</p>
      <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span></div
    ></label>
    <ul class="dropdown-items">
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Acoustic Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            /></svg
        ></a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Blues Rock</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Canadian Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Jazz Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Piano Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Soul Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Swamp Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <input id="check08" type="checkbox" name="menu" />
    <label class="dropdown__bottom" style="background: #00A1CB;" for="check08"
      ><p>Hip-Hop/Rap</p>
      <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span></div
    ></label>
    <ul class="dropdown-items">
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Acoustic Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            /></svg
        ></a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Blues Rock</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Canadian Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Jazz Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Piano Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Soul Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Swamp Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <input id="check09" type="checkbox" name="menu" />
    <label class="dropdown__bottom" style="background: #115793;" for="check09"
      ><p>Industrial</p>
      <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span></div
    ></label>
    <ul class="dropdown-items">
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Acoustic Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            /></svg
        ></a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Blues Rock</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Canadian Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Jazz Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Piano Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Soul Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href=""
          ><p class="item__title">Swamp Blues</p>
          <svg
            class="item__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="6.861"
            height="12"
            viewBox="0 0 6.861 12"
          >
            <path
              id="_arrow-forward"
              d="M164.743,94.123,160.2,89.585a.854.854,0,0,1,0-1.211.865.865,0,0,1,1.215,0l5.145,5.141a.856.856,0,0,1,.025,1.183l-5.166,5.177a.858.858,0,0,1-1.215-1.211Z"
              transform="translate(-159.95 -88.125)"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</main>
<% include ../partials/footer %> <% include ../partials/after-footer %>
