<% include ../partials/head %>
<link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
<% include ../partials/nav %>
<main class="main">
  <h4 class="main__title faded-text">Featured</h4>
  <div class="main__imgcontaner"></div>
</main>
<template id="template__featured">
    <img
      src="/assets/images/OldTownRoad.png"
      alt="photo1"
      class="imgcontaner__img img__background"
    />
</template>
<% include ../partials/footer %>
<script src="/assets/javascript/indexFetch.js" defer></script>
<% include ../partials/after-footer %>

