<% include ../partials/head %>
<% include ../partials/playlistCSS %>
<% include ../partials/nav %>
<main class="main">
    <img src="/assets/images/sound-wave.svg" alt="background" class="background">
    <h4 class="main__title">Playlists</h4>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(/assets/images/butterflyWomen.png);"></div>
            <div class="swiper-slide" style="background-image: url(/assets/images/women.png);"></div>
            <div class="swiper-slide" style="background-image: url(/assets/images/OldTownRoad.png);"></div>
            <div class="swiper-slide" style="background-image: url(/assets/images/butterflyWomen.png);"></div>
            <div class="swiper-slide" style="background-image: url(/assets/images/women.png);"></div>
            <div class="swiper-slide" style="background-image: url(/assets/images/OldTownRoad.png);"></div>
        </div>
    </div>

    <h5 class="playlist__title">Top 50</h5>
    <h5 class="playlist__title">Rock Ballads</h5>

    <section class="releases__contaner">
        <div class="contaner__row">
            <img src="/assets/images/ellipse.svg" alt="Old Town Road" class="row__img">              
            <div class="row__text">
                <h6 class="text__title">Old Town Road</h6>
                <p class="text__subtitle">Billy Ray Cyrus</p>
            </div>
            <p class="row__songs">3 : 58</p>
        </div>
        <div class="contaner__row">
            <img src="/assets/images/ellipse.svg" alt="Don’t Call Me Up" class="row__img">
            <div class="row__text">
                <h6 class="text__title">Don’t Call Me Up</h6>
                <p class="text__subtitle">Mabel</p>
            </div>
            <p class="row__songs">2 : 46</p>
        </div>
        <div class="contaner__row">
            <img src="/assets/images/ellipse.svg" alt="Let Me Down Slowly" class="row__img">
            <div class="row__text">
                <h6 class="text__title">Let Me Down Slowly</h6>
                <p class="text__subtitle">Alec Benjamin</p>
            </div>
            <p class="row__songs">4 : 12</p>
        </div>
        <div class="contaner__row">
            <img src="/assets/images/ellipse.svg" alt="Here With Me" class="row__img">
            <div class="row__text">
                <h6 class="text__title">Here With Me</h6>
                <p class="text__subtitle">Marshmello</p>
            </div>
            <p class="row__songs">3 : 37</p>
        </div>
        <div class="contaner__row">
            <img src="/assets/images/ellipse.svg" alt="Paradise" class="row__img">
            <div class="row__text">
                <h6 class="text__title">Paradisee</h6>
                <p class="text__subtitle">Bazzi</p>
            </div>
            <p class="row__songs">3 : 12</p>
        </div>
        <div class="contaner__row">
            <img src="/assets/images/ellipse.svg" alt="Let Me Down Slowly" class="row__img">
            <div class="row__text">
                <h6 class="text__title">Let Me Down Slowly</h6>
                <p class="text__subtitle">Alec Benjamin</p>
            </div>
            <p class="row__songs">4 : 12</p>
        </div>
        <div class="contaner__row">
            <img src="/assets/images/ellipse.svg" alt="Here With Me" class="row__img">
            <div class="row__text">
                <h6 class="text__title">Here With Me</h6>
                <p class="text__subtitle">Marshmello</p>
            </div>
            <p class="row__songs">3 : 37</p>
        </div>
        <div class="contaner__row">
            <img src="/assets/images/ellipse.svg" alt="Here With Me" class="row__img">
            <div class="row__text">
                <h6 class="text__title">Paradise</h6>
                <p class="text__subtitle">Bazzi</p>
            </div>
            <p class="row__songs">3 : 12</p>
        </div>
    </section>

    <butto class="listen">LISTEN ALL</butto>
</main>
<% include ../partials/footer %>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script src="/assets/javascript/playlist-swiper.js"></script>
<% include ../partials/after-footer %>
