<% include ../partials/head %>
<% include ../partials/playerCSS %>
<% include ../partials/nav %>
<main class="main">
    <figure class="main__figure">
        <img src="/assets/images/player-img-background-layer2.png" alt="layer 2" class="figure__img pulse">
        <img src="/assets/images/player-img-background-layer1.png" alt="layer 1" class="figure__img pulse pulse-delay">
        <img src="/assets/images/player-img.png" alt="player img" class="figure__img spin">
        <img src="/assets/images/player-img-overlay.png" alt="overlay" class="figure__img">
    </figure>
</main>
<% include ../partials/after-footer %>
