<% include ../partials/head %>
<link rel="stylesheet" href="/assets/css/player.css">
</head>
<body>
<% include ../partials/nav %>
<main class="main">
    <figure class="main__figure">
        <img src="/assets/images/player-img-background-layer2.png" alt="layer 2" class="figure__img pulse">
        <img src="/assets/images/player-img-background-layer1.png" alt="layer 1" class="figure__img pulse pulse-delay">
        <img src="/assets/images/player-img.png" alt="player img" class="figure__img spin">
        <img src="/assets/images/player-img-overlay.png" alt="overlay" class="figure__img">
    </figure>

    <div class="music__player-contaner">
        <div class="contaner-width">
            <video class="music" src="https://p.scdn.co/mp3-preview/591786dadba3957bad6188c39a52209643261d50?cid=65b5a46dffa441a4a68af4d29e6dd2e4"></video>
                <!-- <div class="controls-bar">
                    <div class="controls-progress">
                        
                        <progress class="controls-progress" id='progress-bar' min='0' max='100' value='0'></progress>
                    </div>
                
                </div> -->

                <div id="controls" class="controls-bar">
                    <progress class="controls-progress" id="progress-bar" min="0" max="100" value="0"></progress>
                    <span class="dot">
                        <div class="dot-overlay"></div>
                        <div class="dot-background"></div>
                    </span>
                    <div class="song__timer-contaner">
                        <p class="song__time">0:00</p>
                        <p class="song__length">3:40</p>
                    </div>
                </div>

                <div class="controls-buttons">
                        <svg id="step-backward" class="buttons-step-backward" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 15 15"><path d="M99.7,96.188v6.459l10.73-6.548a.377.377,0,0,1,.567.323v14.156a.376.376,0,0,1-.567.323L99.7,104.353v6.459a.188.188,0,0,1-.187.188H96.188a.188.188,0,0,1-.187-.187V96.188A.188.188,0,0,1,96.188,96h3.328A.188.188,0,0,1,99.7,96.188Z" transform="translate(-96 -96)"/></svg>
                        <svg  id="backward" class="buttons-backward" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M249.6 402V110L32 256l217.6 146zm12.8-146L480 402V110L262.4 256z"/></svg>
                        <button id="play-pause" class="buttons-play">
                        </button>
                        <svg  id="step-forward" class="buttons-step-forward" xmlns="http://www.w3.org/2000/svg" width="26.245" height="15" viewBox="0 0 26.245 15">
                            <path id="_ionicons_svg_ios-fastforward" d="M58.018,135.089l-12.192-7.042a.476.476,0,0,0-.721.393v6.749l-12.385-7.142a.476.476,0,0,0-.721.393v14.078a.476.476,0,0,0,.721.393L45.1,135.774v6.749a.476.476,0,0,0,.721.393l12.192-7.042A.449.449,0,0,0,58.018,135.089Z" transform="translate(-32 -127.981)"    /></svg>
                        <svg  id="forward" class="buttons-forward" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 15 15"><path d="M107.3,96.188v6.459L96.567,96.1a.376.376,0,0,0-.567.323v14.156a.376.376,0,0,0,.567.323l10.73-6.548v6.459a.188.188,0,0,0,.188.188h3.328a.188.188,0,0,0,.188-.187V96.188a.188.188,0,0,0-.187-.187h-3.328A.188.188,0,0,0,107.3,96.188Z" transform="translate(-96 -96)"/></svg>
                </div>
        </div>
    </div>
</main>
<script src="/assets/javascript/audioPlay.js" defer></script>
</body>
</html>
